* {
  margin: 0;
  box-sizing: border-box;
}

.Apps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-size: contain;
}
/*White theme background picture _*/
.App {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/2d9dd173426833.5c08f5634ff45.png");
}
/*Dark theme background picture _*/
.App-dark {
  background-image: url("https://wallpapercave.com/wp/wp4410800.jpg");
}

.App-Head {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  border-bottom: 10px solid grey;
  margin: 0px 0px auto;
}

.App-light {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/2d9dd173426833.5c08f5634ff45.png");
  color: black;
}

.App-head-dark {
  background-image: url("https://wallpapercave.com/wp/wp4410800.jpg");
}

/*For all buttons */
.buttons:hover {
  transition: ease-out 1s;
  cursor: pointer;
  background-color: lightgray;
}

.name-user {
  font-size: 1.8em;
  margin: 2%;
}

.user-welcome {
  font-weight: bold;
}

/*Mobile */
@media screen and (max-width: 960px) {
  .name-user {
    font-size: 1.4em;
  }
}
@media (max-height: 479px) {
  .App-Head {
    display: none;
  }
}
/*Vidi ovo */
